@use "../../assets/styles/partials/typography";
@use "../../assets/styles/partials/mixins" as *;
@use "../../assets/styles/partials/globals" as *;
@use "../../assets/styles/partials/variables" as *;

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__first-line {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 4rem;
      padding-bottom: 0.5rem;
    }

    &__header {
      font-size: 2rem;
      font-family: 'DMSans';
      line-height: 1.2;
      font-weight: 200;
      text-align: left;
    }

    &__picture {
      height: 2.25rem;
    }

    &__header--bold {
      font-weight: 600;
    }
  
    &__header--italic {
      font-style: italic;
    }

    &__logo-wrapper {
      display: flex; 
      gap: 0.5rem;
      justify-content: center;
      margin-top: 4rem;
      flex-wrap: wrap;
    }

    &__brand-logo {
      transform: scale(0.8);
    }

  @include tablet {
    &__header {
      font-size: 2.5rem;
      font-family: 'DMSans';
      line-height: 1.2;
      font-weight: 200;
      text-align: left;
    }

    &__picture {
      height: 2.5rem;
    }

    &__logo-wrapper {
      display: flex; 
      gap: 1.25rem;
      justify-content: center;
      margin-top: 6rem;
      flex-wrap: wrap;
    }

    &__brand-logo {
      transform: scale(0.9);
      margin-top: -1rem;
    }
  }

  @include desktop {

  &__first-line {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 6rem;
    padding-bottom: 0.5rem;
  }

  &__picture {
    height: 4rem;
    &:hover {
      animation: wiggle 0.5s ease-in-out;
    }
  }

  &__header {
    font-size: 4rem;
    font-family: 'DMSans';
    line-height: 1.2;
    font-weight: 200;
  }

  &__header--bold {
    font-weight: 600;
  }

  &__header--italic {
    font-style: italic;
  }

  &__logo-wrapper {
    display: flex; 
    gap: 3.5rem;
    justify-content: center;
    margin-top: 12rem;
    flex-wrap: wrap;
  }

  &__brand-logo {
    transform: scale(1);
  }
}

}

@keyframes wiggle {
  0%, 100% { transform: rotate(0); }
  25% { transform: rotate(3deg); }
  75% { transform: rotate(-3deg); }
}

