@use "../../assets/styles/partials/typography";
@use "../../assets/styles/partials/mixins" as *;
@use "../../assets/styles/partials/globals" as *;
@use "../../assets/styles/partials/variables" as *;

.coding {
  &__wrapper {
    padding: 1rem;
  }

  &__hero-header {
    font-size: 2.16rem;
    line-height: 1.2;
    font-weight: 200;
    text-align: left;
  }

  &__hero-header--bold {
    font-size: 2.16rem;
    line-height: 1.2;
    font-weight: 600;
    text-align: left;
    font-style: italic;
  }

  &__first-line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__gif {
    width: 5.5rem;
    height: 2.5rem;
    border-radius: 30px;
    object-fit: cover;
    margin-left: 0.5rem;
  }

  &__img--cat {
    width: 5rem;
    height: 3.25rem;
    border-radius: 30px;
    object-fit: cover;
  }

  &__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    width: 100%;
  }

  &__tags-container {
    margin-top: 0.75rem;
    margin-bottom: 6rem;
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0;
    flex-wrap: wrap;
  }

  &__content-tags-container {
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0;
    flex-wrap: wrap;
  }

  &__tag {
    border: 1px solid #606367;
    width: fit-content;
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    color: #606367;
    font-size: 1rem;
  }

  &__content-tag {
    width: fit-content;
    border-radius: 20px;
    color: #606367;
    font-size: 1rem;
  }

  &__content {
    width: 100%;
  }

  &__content-header {
    font-size: 1.5rem;
    color: $copy;
    text-align: left;
    font-weight: 600;
  }

  &__content-copy {
    font-size: 1rem;
    color: $copy;
    text-align: left;
    padding-top: 1rem;
  }

  &__content-button {
    background: none;
    border: none;
    font-family: "DMSans";
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 1.5rem;
    display: flex;
    gap: 0.75rem;
    color: $copy;
    text-decoration: underline;
  }

  &__content-img {
    width: 100%;
    margin-bottom: 0.5rem;
    max-height: 280px;
  }

  @include tablet {
    &__wrapper {
      padding: 2rem;
    }

    &__content-wrapper {
      gap: 1rem;
    }

    &__content-card {
      width: 48%;
      margin-bottom: 4rem;
    }
  }

  @include desktop {
    &__wrapper {
      max-width: 1024px;
      margin: 0 auto;
    }

    &__hero-header {
      font-size: 3rem;
    }

    &__hero-header--bold {
      font-size: 3rem;
    }

    &__gif {
      width: 7rem;
      height: 3.25rem;
      border-radius: 30px;
      object-fit: cover;
      margin-left: 1rem;
    }

    &__tag {
      font-size: 1.15rem;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 10px rgba(38, 38, 38, 0.15);
        cursor: default;
        background-color: D9D9D9;
      }
    }

    &__content-button {
      transition: transform 0.4s ease-in-out;

      &:hover {
        font-weight: 700;
        transform: translateY(-2px);
      }
    }
  }
}
